body {
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-around;
}
.row {
  border: 2px solid lightgray;
  height: 10%;
  overflow-x: auto;
  overflow-y: none;
  white-space: nowrap;
}

.label {
  background-color: #e59d22;
  height: 100%;
  width: calc(90vh*.1);
  text-align: center;
  line-height: calc(90vh*.1);
  margin-right: 5px;
  float: left;
}
.row:first-of-type .label {
  background-color: #a949c1;
}
.row:last-of-type {
  height: 13%;
}
.row:last-of-type .label {
  background-color: white;
  color: black;
}

.container {
  background-color: #555;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.fruit {
  display: inline-block;
  margin: 1px;
  padding: 2px;
  height: 100%;
/*   height: calc((90vh*.1) - 6px); */
  min-width: calc((90vh*.1) - 6px);
  background-color: white;
  color: black;
  background-position: center;
}
.fruit:hover {
  cursor: grab;
}

.fruit div {
  height: 70%;
  background-size: cover;
  background-position: center;
}